<% layout('layouts/boilerplateDashboard') %>
<div class="row">
  <div class="col-12">
    <div class="card border shadow-xs mb-4">
      <div class="card-header border-bottom pb-0">
        <%- include('../partials/companies/flash.ejs') %>
        <div class="d-sm-flex align-items-center">
          <div>
            <h6 class="font-weight-bold text-lg mb-0">Editar Cliente</h6>
            <p class="text-sm">Actualice los datos del cliente!</p>
          </div>
          <div class="ms-auto d-flex"></div>
        </div>
      </div>
      <div class="card-body">
        <form
          class="needs-validation"
          action="/companies/<%= company.id_company %>/clients/<%= _client.id_client %>?_method=PUT"
          method="post"
          novalidate
          role="form text-left"
        >
          <div class="row">
            <div class="col-md-6">
              <!-- combo -->
              <label for="tipoIdentificacion">Tipo de identificación</label>
              <div class="form-group">
                <select
                  class="form-control"
                  id="selectTipoIdentificacion"
                  name="tipoIdentificacion"
                  required
                >
                  <option disabled value="">Seleccione...</option>
                  <option value="04" <% if(_client.tipoIdentificacion === '04') {%>selected <% }%>>RUC</option>
                  <option value="05" <% if(_client.tipoIdentificacion === '05') {%>selected <% }%>>Cedula</option>
                  <option value="06" <% if(_client.tipoIdentificacion === '06') {%>selected <% }%>>Pasaporte</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <label for="ruc">Identificación</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="9999999999999"
                  id="ruc"
                  name="ruc"
                  value="<%= _client.ruc %>"
                  required
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="razonSocial">Razón Social / Nombres</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Razón Social / Nombre"
                  id="razonSocial"
                  name="razonSocial"
                  value="<%= _client.razonSocial %>"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <label for="direccion">Dirección Matriz</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Dirección Matriz"
                  id="direccion"
                  name="direccion"
                  value="<%= _client.direccion %>"
                  required
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="telefono">Telefono / Celular</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="0999999999"
                  id="telefono"
                  name="telefono"
                  value="<%= _client.telefono %>"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <label for="email">Correo electrónico</label>
              <div class="input-group mb-3">
                <input
                  type="email"
                  class="form-control"
                  placeholder="ejemplo@gmail.com"
                  id="email"
                  name="email"
                  value="<%= _client.email %>"
                  required
                />
              </div>
            </div>
          </div>

          <div class="text-center">
            <button
              type="submit"
              class="btn btn-primary btn-rounded w-50 mt-2 mb-0"
            >
              Actualizar
            </button>
            <a
              href="/companies/<%= company.id_company %>/clients"
              role="button"
              class="btn btn-white btn-rounded w-50 mt-1 mb-1"
            >
              Cancelar
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<hr class="my-0" />
