<% layout('layouts/boilerplateCompanies') %>
<div class="row">
  <div class="col-12">
    <h4 class="ms-2">Administrador: <%= nombre %> </h4>
    <div class="card border shadow-xs mb-4">
      <div class="card-header border-bottom pb-0">
        <%- include('../partials/companies/flash.ejs') %>
        <div class="d-sm-flex align-items-center">
          <div>
            <h6 class="font-weight-semibold text-lg mb-0">Lista de Empresas</h6>
            <p class="text-sm">Información sobre todas tus Empresas</p>
          </div>
          <div class="ms-auto d-flex">
            <a
                href="/companies/new"
              role="button"
              class="btn btn-sm btn-dark btn-icon d-flex align-items-center me-2"
            >
              <span class="btn-inner--icon me-2 mb-1">
                <i class="fas fa-solid fa-building"></i>
              </span>
              <span class="btn-inner--text">Agregar empresa</span>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body px-0 py-0">
        <!-- START SEARCH -->
        <div class="border-bottom py-3 px-3 d-sm-flex align-items-center">
          <div class="input-group">
            <span class="input-group-text text-body">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16px"
                height="16px"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                ></path>
              </svg>
            </span>
            <input
              type="text"
              class="form-control"
              placeholder="Buscar Empresa"
            />
          </div>
        </div>
        <!-- END SEARCH -->

        <!-- STAR TABLE -->
        <% if(companies.length > 0) {%>
        <div class="table-responsive p-0">
          <table class="table align-items-center justify-content-center mb-0">
            <thead class="bg-gray-100">
              <tr>
                <th
                  class="text-secondary text-xs font-weight-semibold opacity-7"
                >
                  RUC
                </th>
                <th
                  class="text-secondary text-xs font-weight-semibold opacity-7 ps-2"
                >
                  Razón social
                </th>
                <th
                  class="text-secondary text-xs font-weight-semibold opacity-7 ps-2"
                >
                  Dirección Matriz
                </th>
                <th
                  class="text-secondary text-xs font-weight-semibold opacity-7 ps-2"
                >
                  Ambiente
                </th>
                <th
                  class="text-center text-secondary text-xs font-weight-semibold opacity-7"
                ></th>
              </tr>
            </thead>
            <tbody>
              <% for(let company of companies) {%>
              <tr>
                <td>
                  <span><h6 class="mb-0 text-sm"><%= company.ruc %></h6></span>
                </td>
                <td>
                  <span class="text-sm font-weight-normal"
                    ><%= company.razonSocial %></span
                  >
                </td>
                <td class="align-middle">
                  <span class="text-sm font-weight-normal"
                    ><%= company.dirMatriz %></span
                  >
                </td>
                <td>
                  <span
                    class="badge badge-sm border <% if (company.tipoAmbiente === '1') { %>border-secondary text-secondary bg-secondary <% } else {%>border-success text-success bg-success <% } %>"
                  >
                    <% if (company.tipoAmbiente === '1') { %>Pruebas <% } else
                    {%>Produccion <% } %>
                  </span>
                </td>
                <td class="align-middle">
                  <a
                    href="/companies/<%= company.id_company %>/dashboard"
                    class="text-primary font-weight-bold text-xs me-3"
                    data-bs-toggle="tooltip"
                    data-bs-title="Ingresar al sistema"
                  >
                    <i class="fas fa-regular fa-door-closed"></i>
                  </a>
                  <a
                    href="/companies/<%= company.id_company %>/edit"
                    class="text-info font-weight-bold text-xs me-3"
                    style="pointer-events: none;"
                    data-bs-toggle="tooltip"
                    data-bs-title="Editar empresa"
                  >
                    <i class="fas fa-regular fa-pen-to-square"></i>
                  </a>
                  <form
                    action=""
                    method="post"
                    class="form-check-inline pe-0"
                  >
                    <button
                      type="button"
                      class="text-danger font-weight-bold text-xs border-0"
                      data-bs-toggle="tooltip"
                      data-bs-title="Eliminar empresa"
                      onclick="javascript: return confirm('¿Esta seguro que desea eliminar la empresa: <%= company.razonSocial %>?');"
                    >
                      <i class="fas fa-regular fa-trash"></i>
                    </a>
                  </form>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <% } else {%>
        <span class="ms-3 badge badge-pill bg-gradient-primary"
          >Agrega una empresa!</span
        >
        <% } %>
        <!-- END TABLE -->
      </div>
    </div>
  </div>
</div>
<hr class="my-0" />
